# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
cmd/hanyuu/hanyuu

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# configuration file format we use, only example.toml should be committed
*.toml

# vscode settings, ignore these
.vscode/