{{define "navbar"}}
<style type="text/css">
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-alt);
}
nav > ul {
    display: flex;
    list-style: none;
}
nav > ul > li > a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #999;
}
nav > ul > li > a:hover {
    background: #111111;
}
nav > a {
    display: inline-block;
    padding-left: 20px;
}
nav img {
    max-width: 100px;
    height: auto;
}
</style>
<nav id="top-nav">
    <a href="/">
        <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
    </a>
    <ul>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/news">News</a></li>
        <li><a href="/admin/pending">Pending</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/database">Song Database</a></li>
        <li><a href="/admin/profile">Profile</a></li>
    </ul>
</nav>
{{end}}