{{define "navbar"}}
<nav id="top-nav">
    <a href="/">
        <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
    </a>
    <ul>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/news">News</a></li>
        <li><a href="/admin/pending">Pending</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/database">Song Database</a></li>
        <li><a href="/admin/profile">Profile</a></li>
    </ul>
</nav>
{{end}}