{{define "navbar"}}
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Pending</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Song Database</a></li>
        <li><a href="#">Profile</a></li>
    </ul>
</nav>
{{end}}