{{define "content"}}
<div class="container">
    <div class="section">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-3">
                    <article class="tile is-child notification">
                        <p class="title">Daypass</p>
                        <p class="tag is-info">{{.Daypass.Value}}</p>
                        <p class="is-size-7">Expires <time datetime="{{.Daypass.ValidUntil.Unix}}">{{Until .Daypass.ValidUntil | PrettyDuration}}</time></p>
                    </article>
                </div>
                <div class="tile is-parent is-3">
                    <article class="tile is-child notification">
                        Welcome {{.User.Username}}.
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{{printjson .}}
{{end}}