{{define "navbar"}}{{template "admin-navbar" .}}{{end}}
{{define "styles"}}

</style>
{{end}}
{{define "content"}}
<section class="section">
    <div class="container is-blue">
        {{template "form_admin_profile" .}}
    </div>
</section>
{{end}}