{{define "content"}}
<section class="section">
    <div id="pending" class="container is-fluid">
        {{range $song := .Submissions}}
            {{template "form_admin_pending" $song}}
        {{end}}
    </div>
</section>
{{printjson .}}
{{end}}
