{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="card mb-5">
                <div class="card-content">
                    <div class="content">
                        <p>You can either use the below webchat, or connect directly to #r/a/dio on irc.rizon.net.</p>
                        <p>If you're here for the daypass and exci isn't responding, come back later at or try your luck
                            asking in the channel. Even if exci is online, it might take some time for him to respond.</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <iframe src="https://kiwiirc.com/nextclient/#irc://irc.rizon.net:+6697/#r/a/dio" style="border:0; width:100%; height:700px;"></iframe>
            </div>
        </div>
</section>
{{end}}