{{define "content"}}
<section class="section" hx-ext="sse" sse-connect="/v1/sse">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-3 is-hidden-mobile">
                <img src="/assets/images/logo_image_small.png" alt="R/a/dio">
            </div>
            <div class="column is-6">
                <div class="columns">
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                        <img src="/assets/images/logotitle_2.png" alt="R/a/dio">
                    </div>
                    <div class="column">
                        <div class="field">
                            {{with .StreamURL}}
                            <noscript>
                                <audio preload="none" controls>
                                      <source src="{{.}}" type="audio/mpeg" />
                                </audio>
                            </noscript>
                            {{end}}
                            <button id="stream-play-pause" class="is-hidden-without-js button is-info is-fullwidth">Play Stream</button>
                        </div>
                        <div class="field has-addons">
                                <button class="button is-width-90">Direct Stream Link</button>
                                <button class="button is-width-10">?</button>
                        </div>
                        <button class="button is-fullwidth">More Options<span class="caret"></span></button>
                    </div>
                </div>
                <div sse-swap="metadata">
                    {{template "nowplaying" .Status}}
                </div>
            </div>
            <div class="column is-3" sse-swap="streamer">
                {{template "streamer" .Status.User}}
            </div>
        </div>
        <div class="columns">
            <div class="column is-6" sse-swap="lastplayed">
                {{template "lastplayed" .LastPlayed}}
            </div>
            <div class="column is-6" sse-swap="queue">
                {{template "queue" .Queue}}   
            </div>
        </div>
        <div class="columns">
            {{range .News}}
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <a href="/news/{{.ID}}">
                            <span>{{.Title}}</span>
                        </a>
                            <span>~{{.User.Username}}</span>
                        </div>
                        <div class="message-header has-background-white-ter has-text-grey-dark m-1 p-1">
                            <span class="has-text-left"></span>
                            <time datetime="{{.CreatedAt.Unix}}" data-type="absolute">{{.CreatedAt | AbsoluteDate}}</time>
                        </div>
                        <div class="message-body pt-0 disable-message-border">{{.Header}}</div>
                </article>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{define "nowplaying"}}
<h2 id="current-song">
    <p id="metadata" class="title is-2 has-text-centered" style="cursor: pointer;" onclick=toggleSongInfoDropdown(this)>{{.Song.Metadata}}</p>
    <p class="subtitle is-4 has-text-centered is-hidden" style="font-size: 14px;">{{if .Song.DatabaseTrack}}{{.Song.Tags}}{{end}}</p>
</h2>
<progress id="current-song-progress" class="progress is-large mb-0" value="0" max="{{.Song.Length.Seconds}}"></progress>
<div class="columns mt-2">
    <div class="column is-6">
        <p class="has-text-centered" sse-swap="listeners">{{template "listeners" .Listeners}}</p>
    </div>
    <div class="column is-6">
        <p class="has-text-centered"><span id="progress-current" data-start="{{.SongInfo.Start.UnixMilli}}">00:00</span> / <span id="progress-max">{{.Song.Length | MediaDuration}}<span></p>
    </div>
</div>
{{end}}
{{define "listeners"}}
    Listeners: <span id="listener-count">{{.}}</span>
{{end}}
{{define "lastplayed"}}
<p class="title is-4 has-text-centered">Last Played</p>
<div class="notification">
    <ul id="lastplayed">
        {{range $song := .}}
        <li class="lp-item columns is-mobile is-vcentered">
            <time datetime="{{$song.LastPlayed.Unix}}" class="lp-time column is-4 has-text-left">{{Until $song.LastPlayed | PrettyDuration}}</time>
            <span class="lp-meta column is-8 has-text-centered">{{$song.Metadata}}</span>
        </li>
        {{end}}
    </ul>
</div>
{{end}}
{{define "queue"}}
<p class="title is-4 has-text-centered">Queue</p>
<div class="notification">
    <ul>
        {{range $song := .}}
        <li class="columns is-mobile is-vcentered">
            <span class="column is-8 has-text-centered">{{$song.Metadata}}</span>
            <time datetime="{{$song.ExpectedStartTime.Unix}}" class="column is-4 has-text-right">{{Until $song.ExpectedStartTime | PrettyDuration}}</time>
        </li>
        {{end}}
    </ul>
</div>
{{end}}
{{define "streamer"}}
<div class="p-4 m-2">
    <div class="card-image">
        <figure class="image is-square ml-0 mr-0">
            <img src="/api/dj-image/{{.DJ.Image}}"/>
        </figure>
    </div>
    <div class="card-content has-text-centered pt-4 pb-0">
        <div class="title is-4 word-break-ellipsis">{{.DJ.Name}}</div>
    </div>
</div>
{{end}}