{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Last Played</h3>
            </div>
            {{template "pagination" .Page}}
            {{range $song := $.Songs}}
            {{template "song" $song}}
            {{end}}
            {{template "pagination" .Page}}
        </div>
    </div>
</section>
{{end}}

{{define "song"}}
<div class="block has-background-white-ter song-info disable-pointer">
    <a href="/search?q={{.Title}}" style="color: initial;">
        <div class="columns is-vcentered has-text-centered">
            <div class="column is-hidden-mobile is-narrow py-0 my-0">
                <div class="image is-64x64">
                    {{if .LastPlayedBy}}
                    {{with .LastPlayedBy}}
                    <img class="dj-image" src="/api/dj-image/{{.DJ.Image}}" />
                    <div class="dj-image-name-64">{{.DJ.Name}}</div>
                    {{end}}
                    {{else}}
                    <img class="dj-image" src="/assets/images/mystery-dj.png" />
                    <div class="dj-image-name-64">Unknown</div>
                    {{end}}
                </div>
            </div>
            <div class="column word-break-all">{{.Metadata}}</div>
            <time datetime="{{.LastPlayed.Unix}}" data-type="absolute" class="column is-2">{{.LastPlayed | AbsoluteDate}}</time>
        </div>
    </a>
</div>
{{end}}