{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{range $song := $.Songs}}
                {{template "song" $song}}
            {{end}}
        </div>
    </div>
</section>
{{printjson .}}
{{end}}

{{define "song"}}
<div class="block has-background-white-ter song-info">
    <div class="columns is-vcentered has-text-centered">
        <div class="column is-2 py-0 my-0">
            <div class="image is-96x96">
                <img class="dj-image" src="https://r-a-d.io/api/dj-image/53-dade8ac2.png"/>
                <div class="dj-image-name">$djname</div>
            </div>
        </div>
        <div class="column is-8">{{$.Metadata}}</div>
        <div class="column is-2">$playdate</div>
    </div>
</div>
{{end}}