{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Last Played</h3>
            </div>
            {{template "pagination" .Page}}
            {{range $song := $.Songs}}
            {{template "song" $song}}
            {{end}}
        </div>
    </div>
</section>
{{printjson .}}
{{end}}

{{define "pagination"}}
<div class="columns">
    <nav class="column pagination is-left is-flex is-hidden-mobile mb-0" hx-boost="true" hx-push-url="true" hx-target="#content" role="navigation">
        {{with .Prev 1}}
        <a class="pagination-previous" href="{{.URL}}">Previous</a>
        {{else}}
        <a class="pagination-previous is-disabled disable-pointer">Previous</a>
        {{end}}
        {{with .Next 1}}
        <a class="pagination-next" href="{{.URL}}">Next</a>
        {{else}}
        <a class="pagination-next is-disabled disable-pointer">Next</a>
        {{end}}
        <ul class="pagination-list m-0 p-0">
            {{with $prev2 := .Prev 2}}
                {{if gt .Nr 1}}
                    {{with .First}}
                    {{template "page-link" .}}
                    {{if gt $prev2.Nr 2}}
                    <li class="m-0"><span class="pagination-ellipsis">&hellip;</span></li>
                    {{end}}
                    {{end}}
                {{end}}
                {{template "page-link" .}}
            {{end}}
            {{with .Prev 1}}{{template "page-link" .}}{{end}}
            {{with .}}<li class="m-0"><a class="pagination-link is-current" href="{{.URL}}">{{.Nr}}</a></li>{{end}}
            {{with .Next 1}}{{template "page-link" .}}{{end}}
            {{with $next2 := .Next 2}}
                {{template "page-link" .}}
                {{if lt .Nr .Total}}
                    {{with .Last}}
                    {{if lt $next2.Nr (Sub .Total 1)}}
                    <li class="m-0"><span class="pagination-ellipsis">&hellip;</span></li>
                    {{end}}
                    {{template "page-link" .}}
                    {{end}}
                {{end}}
            {{end}}
        </ul>
    </nav>
    <form action="/last-played" class="column control is-2 is-flex" hx-boost="true" hx-push-url="true" hx-target="#content">
        <input class="input" type="text" id="page" name="page" placeholder="Enter Page Number">
        <input class="is-hidden" type="submit">
    </form>
</div>
{{end}}

{{define "page-link"}}
<li class="m-0">
    <a class="pagination-link" href="{{.URL}}">{{.Nr}}</a>
</li>
{{end}}

{{define "song"}}
<div class="block has-background-white-ter song-info disable-pointer">
    <div class="columns is-vcentered has-text-centered">
        <div class="column is-hidden-mobile is-narrow py-0 my-0">
            <div class="image is-64x64">
                <img class="dj-image" src="https://r-a-d.io/api/dj-image/53-dade8ac2.png" />
                <div class="dj-image-name-64">$djname</div>
            </div>
        </div>
        <div class="column word-break-all">{{.Metadata}}</div>
        <time datetime="{{.LastPlayed.Unix}}" data-type="absolute" class="column is-2">{{.LastPlayed | AbsoluteDate}}</time>
    </div>
</div>
{{end}}