{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{template "news-post" .Post}}
            {{template "news-comments" .Post.Comments}}
        </div>
    </div>
</section>
{{end}}

{{define "news-post"}}
<div class="columns block has-background-white-ter mb-5">
    <article class="message column is-12 disable-message-hover">
        <a href="/news/{{.ID}}">
            <div class="block message-header">
                <span>{{.Title}}</span>
                <span>{{with .User}}{{or .Username "Anonymous"}}{{else}}Anonymous{{end}}</span>
            </div>
        </a>
        <div class="block message-header has-background-white-ter has-text-grey-dark m-1 p-1 disable-message-hover">
            <span class="has-text-left"></span>
            <time datetime="{{.CreatedAt.Unix}}" data-type="absolute">{{.CreatedAt | AbsoluteDate}}</time>
        </div>
        <div class="message-body pt-0 disable-message-border">
            {{.Body}}
        </div>
    </article>
</div>
{{end}}

{{define "news-comments"}}
<div class="columns">
    <div class="column is-8 m-0 p-0">
        {{range $comment := .}}
        <div id="{{.ID}}" class="column block has-background-white-ter mb-4">
            <div class="columns">
                <div class="column is-narrow is-flex-mobile pb-0 ml-4">{{with .User}}{{.Username}}{{else}}Anonymous ({{.Identifier}}){{end}} #{{.ID}}</div>
                <div class="column is-hidden-mobile"></div>
                <div class="column is-narrow is-flex-mobile pb-0 mr-4">{{.CreatedAt | AbsoluteDate}}</div>
            </div>
            <div class="block has-background-white-bis message-body">
                <div class="">
                    {{.Body}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="column has-background-white-ter ml-4 is-align-self-flex-start">
        <textarea name="comment" rows="4" class="textarea mb-4" placeholder="Enter a comment..."></textarea>
        <div class="columns">
            <div class="column is-8">
                <p>Logged in (as $user)</p>
                <p>Comments use markdown formatting ($link)</p>
                <p>500 characters remaining.</p>
            </div>
            <div class="column is-narrow is-flex is-align-self-flex-end">
                <button class="submit button is-primary">Submit</button>
            </div>               
        </div>
    </div>
</div>
{{end}}