{{define "content"}}
<section class="section" hx-trigger="load delay:30s" hx-get="/queue" hx-target="#content">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Queue</h3>
            </div>
            {{range $song := $.Queue}}
                {{template "song" $song}}
            {{end}}
        </div>
    </div>
</section>
{{end}}

{{define "song"}}
<div class="block has-background-white-ter song-info" onclick=toggleSongInfoDropdown(this)>
    <div class="columns is-vcentered has-text-centered">
        <div class="column is-2"><time datetime="{{$.ExpectedStartTime.Unix}}">{{Until $.ExpectedStartTime | PrettyDuration}}</time></div>
        <div class="column">{{$.Metadata}}</div>
        {{if not $.IsUserRequest}}
        <div class="column is-narrow"></div>
        {{else}}
        <div class="column is-narrow mr-4">/r/</div>
        {{end}}
    </div>
</div>
{{template "song-info-extra" .}}
{{end}}