{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Schedule</h3>
            </div>
            <div class="block">
            {{/*range $day := $.Schedule*/}}
                {{template "day" .}}
                {{template "day" .}}
                {{template "day" .}}
                {{template "day" .}}
                {{template "day" .}}
                {{template "day" .}}
                {{template "day" .}}
            {{/*end*/}}
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "day"}}
<div class="block">
    <div class="columns block has-background-white-ter is-flex-mobile has-text-centered mb-4">
        <div class="column is-narrow" style="width: 128px;"><h6 class="p-0 m-0">{{.User.DJ.Name}}</h6></div>
        <div class="column is-hidden-mobile"></div>
        <div class="column is-2"><h6 class="p-0 m-0">$weekday</h6></div>
    </div>
    <div class="columns block has-background-white-ter has-text-centered is-vcentered mb-6">
        <div class="column is-hidden-mobile is-narrow p-0 m-0">
            <div class="image is-128x128 fill-sides">
                <img class="dj-image" src="https://r-a-d.io/api/dj-image/53-dade8ac2.png" />
            </div>
        </div>
        <div class="column">{{.User.DJ.Text}} {{"To train in Kendo one must subjugate the self, bear the pain of gruelling practise, and cultivate a level mind in the face of peril. But the Way of the sword means not only fencing training but also living by the code of honour of the samurai elite."}}</div>
        <div class="column is-2">$timeslot</div>
    </div>
</div>
{{end}}