{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Search & Request</h3>
            </div>
            <div class="columns is-centered mb-5">
                <form action="/search" class="column is-8 control is-flex" hx-boost="true" hx-push-url="true" hx-target="#search-content" hx-select="#search-content">
                    <input class="input" type="text" name="q" placeholder="Search" value="{{.Query}}" hx-get="/search" hx-target="#search-content" hx-select="#search-content" hx-trigger="keyup changed delay:500ms">
                </form>
            </div>
            <div id="search-content">
            {{if len .Songs}}
            {{template "search-header"}}
            {{template "pagination" .Page}}
            {{else}}
                <div class="block has-text-centered is-size-5">
                    <p>Search for something! You can click on the songs to show some additional information.</p>
                    <p>You can request once every two hours.</p>
                </div>
            {{end}}
            {{template "search-results" .Songs}}
            {{if gt (len .Songs) 10 }}
            {{template "pagination" .Page}}
            {{end}}
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "search-results"}}
    {{with .}}
        {{range .}}
        <div class="block has-background-white-ter song-info" onclick=toggleSongInfoDropdown(this)>
            <div class="columns is-vcentered has-text-centered">
                <div class="column">{{.Metadata}}</div>
                <div class="column is-2">
                    <form method="POST" action="/request/{{.TrackID}}" hx-post="/request/{{.TrackID}}">
                        {{if not .Requestable}}
                        <button type="submit" class="button is-danger" name="id" value="{{.TrackID}}" onclick=event.stopPropagation() disabled>Request</button>
                        {{else}}
                        <button type="submit" class="button is-primary" name="id" value="{{.TrackID}}" onclick=event.stopPropagation()>Request</button>
                        {{end}}
                    </form>
                </div>
            </div>
        </div>
        {{template "song-info-extra" .}}
        {{end}}
    {{end}}
{{end}}

{{define "search-header"}}
<div class="block has-text-centered is-hidden-mobile">
    <div class="columns is-vcentered mb-5">
        <div class="column is-size-4">Song</div>
        <div class="column is-size-4 is-2 mr-3">Request</div>
    </div>
</div>
{{end}}

{{define "search-api"}}
    {{with .Result}}
        <div id="search-bar-popup" class="box has-text-centered">
                {{range .Songs}}
                <div class="columns">
                    <div class="column">{{.Metadata}}</div>
                    <div class="column is-narrow">
                        <form method="POST" action="/request/{{.TrackID}}" hx-post="/request/{{.TrackID}}">
                            {{if not .Requestable}}
                            <button type="submit" class="button is-danger" name="id" value="{{.TrackID}}" disabled>Request</button>
                            {{else}}
                            <button type="submit" class="button is-primary" name="id" value="{{.TrackID}}">Request</button>
                            {{end}}
                        </form>
                    </div>
                </div>
                {{end}}
        </div>
    {{end}}
{{end}}