{{define "title"}}R/a/dio Search{{end}}
{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Search & Request</h3>
            </div>
            <div class="columns is-centered mb-5">
                <form action="/search" class="column is-8 control is-flex" hx-boost="true" hx-push-url="true" hx-target="#search-content" hx-select="#search-content">
                    <input class="input" type="text" name="q" placeholder="Search" value="{{.Query}}" hx-get="/search" hx-target="#search-content" hx-select="#search-content" hx-trigger="keyup changed delay:500ms">
                    <input class="submit button is-link ml-3" type="submit" value="Submit">
                </form>
            </div>
            <div id="search-content">
            {{template "pagination" .Page}}
            {{template "search-header"}}
            {{template "search-results" .Songs}}
            </div>
        </div>
    </div>
</section>
{{printjson .}}
{{end}}

{{define "search-results"}}
    {{with .}}
        {{range .}}
        <div class="columns has-text-centered is-vcentered has-background-white-ter mb-5 song-info" onclick=toggleSongInfoDropdown(this)>
            <div class="column">{{.Artist}}</div>
            <div class="column">{{.Title}}</div>
            <div class="column">
                <form method="POST" action="/request/{{.TrackID}}" hx-post="/request/{{.TrackID}}">
                    <button type="submit" class="button is-primary" name="id" value="{{.TrackID}}" {{if not .Requestable}}disabled{{end}}>Request</button>
                </form>
            </div>
        </div>
        {{template "song-info-extra" .}}
        {{end}}
    {{end}}
{{end}}

{{define "search-header"}}
<div class="block has-text-centered is-hidden-mobile">
    <div class="columns is-vcentered mb-5">
        <div class="column is-size-4">Artist</div>
        <div class="column is-size-4">Title</div>
        <div class="column is-size-4">Request</div>
    </div>
</div>
{{end}}