{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{$cooldown := CalculateSubmissionCooldown .Stats.LastSubmissionTime}}
            {{if or (or (eq $cooldown 0) (.IsUser)) (.Form.IsDaypass)}}
            <div id="submit-cooldown" class="notification is-primary has-text-centered">
                You can upload a song
            </div>
            {{else}}
            <div id="submit-cooldown" class="notification is-danger has-text-centered">
                You cannot upload another song just yet. You can upload <time datetime="{{(Now.Add $cooldown).Unix}}">{{PrettyDuration $cooldown}}</time>.
            </div>
            {{end}}
            <div class="columns">
                <div class="column is-6">
                    <p>
    					<strong>Uploading</strong>
    				</p>
                    <ul>
                        <li>VERY IMPORTANT: Search first to make sure that the song isn't already in the database!</li>
                        <li>Low quality uploads are likely to be declined if it's obvious better quality versions are available</li>
                        <li>Anything below 192kbps is rejected. Do not upload YouTube rips.</li>
                        <li>Please include as much information as possible in the comment field, especially source (name of the anime, VN, game). If there is no source work, please mention this.</li>
                        <li><a style="cursor: pointer;" data-toggle="modal" data-target="#submission-guidelines">Why did my submission get declined?</a></li>
    				</ul>
    				<p></p>
    				<p>
    					<strong>Tagging</strong>
    				</p>
                    <ul>
                        <li>Artist and title are required; at least put them in the comment, if not in the artist and title tags.</li>
                        <li>Avoid Japanese characters unless it's absolutely necessary. Uploads with too much kana/kanji may be declined.</li>
                        <li>Do not include character names or "CV" notation; vocalists only.</li>
                        <li>If you can remember, please include where you downloaded the file from</li>
                        <li><a href="https://static.r-a-d.io/exci/good-comment.png">An example of a good comment</a></li>
                    </ul>
                </div>
                <div class="column is-6">
                    {{template "form_submit" .Form}}
                </div>
            </div>
            <p class="has-text-centered">There are currently {{.Stats.CurrentPending}} pending tracks awaiting approval.</p>
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <div class="content has-text-success has-text-centered">
                        <h2>Accepts</h2>            
                        <br>
                        {{.Stats.AcceptedTotal}} accepted submissions.
                        <br>
                        {{.Stats.AcceptedLastTwoWeeks}} accepted in the last 2 weeks.
                        <br>
                        {{.Stats.AcceptedYou}} accepted submissions from (You).
                        <br><br>
                    </div>
                    <div class="content">
                        {{range $song := .Stats.RecentAccepts}}
                        <p>{{$song.Metadata}}</p>
                        <hr>
                        {{end}}
                    </div>
                </div>
                <div class="column is-6">
                    <div class="content has-text-danger has-text-centered">
                        <h2>Declines</h2>
                        <br>
                        {{.Stats.DeclinedTotal}} declined submissions.
                        <br>
                        {{.Stats.DeclinedLastTwoWeeks}} declined in the last 2 weeks.
                        <br>
                        {{.Stats.DeclinedYou}} declined submissions from (You).
                        <br><br>
                    </div>
                    {{range $song := .Stats.RecentDeclines}}
                    <div class="columns content">
                        <div class="column is-8">
                            <p>{{$song.Metadata}}</p>
                        </div>
                        <div class="column is-4">
                            <p class="has-text-danger">{{$song.Reason}}</p>
                        </div>
                    </div>
                    <hr>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>
{{printjson .}}
{{end}}