{{define "title"}}R/a/dio Admin Panel{{end}}
{{define "content"}}
<div id="login">
    <form method="post">
        <div id="login-image">
            <img src="/assets/images/logo_image_small.png">
        </div>
        <div id="login-error">
            {{if .Failed}}
            <h2>{{.Message}}</h2>
            {{end}}
        </div>
        <div id="login-username">
            <input type="text" placeholder="Username" name="username" required>
        </div>
        <div id="login-password">
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <div id="login-submit">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{{end}}
{{define "navbar"}}<!-- disabled -->{{end}}