{{define "styles"}}
<style type="text/css">
    {{template "water.css"}}
</style>
<style type="text/css">
    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile img {
        max-height: 180px;
        max-width: 180px;
        margin-bottom: 5px;
    }
    .profile > form,
    .flex-form input[type=text] {
        width: 100%;
        max-width: 800px;
    }
    .flex-form input[type=checkbox] {
        width: 29px;
        height: 29px;
        margin: 8px 0px;
    }
    .flex-form button {
        background-color: var(--background-alt);
    }
    .flex-form button:hover {
        background-color: var(--radio-color);
    }
    .flex-form li,
    .flex-form-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .flex-form > li > label {
        flex: 1 0 60px;
        max-width: 150px;
    }
    .flex-form > li > label + * {
        flex: 1 0 60px;
    }
</style>
{{end}}
{{define "content"}}
<div class="profile">
    <form method="post" enctype="multipart/form-data">
        <ul class="flex-form">
            <li>
                <label for="username">Username:</label>
                {{if .IsNew}}
                <input type="text" name="Username" placeholder="username" required>
                {{else}}
                <input type="text" name="Username" value={{.User.Username}} required disabled>
                <input type="hidden" name="Username" value={{.User.Username}}>
                {{end}}
            </li>
            {{if or (not .IsAdmin) (.IsNew)}}
            <li>
                <label>{{if .IsNew}}New{{else}}Change{{end}} password:</label>
                <input type="password" name="Change.Password" placeholder="{{if not .IsNew}}current {{end}}password">
            </li>
            {{end}}
            {{if not .IsNew}}
            <li>
                <label>{{if not (or (not .IsAdmin) (.IsNew))}}Change password:{{end}}</label>
                <input type="password" name="Change.NewPassword" placeholder="new password">
            </li>
            <li>
                <label></label>
                <input type="password" name="Change.RepeatedPassword" placeholder="repeated password">
            </li>
            {{end}}
            <li>
                <label for="ip-address">IP Address:</label>
                <input type="text" name="IP" value={{.User.IP}}>
                <button type="button" onclick="document.querySelector('input[name=IP]').value = '{{.CurrentIP}}'">(You)</button>
            </li>
            {{if or (ne .DJ.ID 0) (.IsNewProfile)}}
            <li>
                -
            </li>
            <li>
                <label for="visible">Visible?</label>
                <div>
                    <input autocomplete="off" type="checkbox" name="DJ.Visible" {{if .DJ.Visible}}checked{{end}}>
                </div>
            </li>
            <li>
                <label for="priority">Priority:</label>
                <input type="number" name="DJ.Priority" value={{.DJ.Priority}}>
            </li>
            <li>
                <label for="dj-name">DJ name:</label>
                <input type="text" name="DJ.Name" value={{.DJ.Name}}>
            </li>
            <li>
                <label for="dj-image">DJ Image:</label>
                <input type="file" name="DJ.Image">
            </li>
            <li>
                <label>Current image:</label>
                <img src="https://r-a-d.io/api/dj-image/{{.DJ.Image}}.png" alt="current DJ image">
            </li>
            <li>
                <label for="regex">Nickname Regex:</label>
                <input type="text" name="DJ.Regex" value={{.DJ.Regex}}>
            </li>
            <li>
                <label for="theme">Theme:</label>
                <select name="DJ.Theme.Name" value={{.Theme.Name}}>
                    <option value="default">Default</option>
                </select>
            </li>
            {{end}}
            {{if and (and .IsAdmin (eq .DJ.ID 0)) (not .IsNewProfile)}}
            <li>
                <label></label>
                <button type="button" onclick="window.location.search += '&newprofile';">Add DJ profile</button>
            </li>
            {{end}}
            <li>
                <label></label>
                <button type="submit">{{if .IsNew}}Create Account{{else}}Submit Changes{{end}}</button>
            </li>
        </ul>
    </form>
</div>
{{end}}