.is-fullwidth {
    width: 100%;
}

.is-width-90 {
    width: 90%;
}

.is-width-80 {
    width: 80%;
}

.is-width-70 {
    width: 70%;
}

.is-width-60 {
    width: 60%;
}

.is-width-50 {
    width: 50%;
}

.is-width-40 {
    width: 40%;
}

.is-width-30 {
    width: 30%;
}

.is-width-20 {
    width: 20%;
}

.is-width-10 {
    width: 10%;
}

.caret {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
}

.pending-controls span.tag {
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
}

.pending-entry.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.pending-entry .field {
    padding: 0.25rem;
}

.pending-entry:nth-of-type(even) {
    background-color: hsl(0, 0%, 90%);
}

.content-border-top {
	border-top: 2px rgba(0, 0, 0, .1) solid;
}

span {
	word-break: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}

.word-break-ellipsis {
	word-break: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}

.word-break-all {
    word-break: break-all;
}

.is-hidden-without-js {
    display: none !important;
}

.mobile-spacer {
    margin-bottom: 2.5rem;
}

.disable-pointer {
    cursor: unset;
}

.fill-sides {
    margin: auto;
}

.block {
    border-radius: 4px;
}

.song-info {
    border-radius: 4px;
    cursor: pointer;
}

.song-info:hover {
    background-color: hsl(0, 0%, 90%) !important;
    transition: 0.125s all ease-in-out;
}

.song-info-extra {
    border-radius: 0px 0px 4px 4px;
}

.dj-image-name-64 {
    position: relative;
    top: 0px;
    opacity: 0;
    transition: all 0.1s ease-out 0.1s;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    border-radius: 6px;
}

.dj-image-name-128 {
    position: relative;
    top: 0px;
    opacity: 0;
    transition: all 0.1s ease-out 0.1s;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    border-radius: 6px;
}

.dj-image {
    border-radius: 4px;
}

.dj-image:hover + .dj-image-name-64 {
    top: -84px;
    opacity: 1;
}

.dj-image:hover + .dj-image-name-128 {
    top: -142px;
    opacity: 1;
}

.message:hover, .message:hover > .message-header:nth-child(2) {
    background-color: hsl(0, 0%, 90%) !important;
    transition: 0.125s all ease-in-out;
}

.disable-message-hover:hover, .disable-message-hover:hover > .message-header:nth-child(2) {
    background-color: initial !important;
}

#radio-logo:hover {
    background-color: initial;
}

#search-bar-popup {
    position: absolute;
    z-index: 99;
    transition: 0.125s all ease-in-out;
    max-height: 33vh;
    min-width: 30rem;
    overflow: scroll;
    border: 2px solid hsl(0, 0%, 90%);
    right: -0.125rem;
    top: calc(3.25rem + 1rem)
}

@media screen and (max-width:1023px) {
    .navbar-container {
        position: absolute;
        background-color: hsl(0, 0%, 96%);
        border-bottom: 2px solid hsl(0, 0%, 90%);
        z-index: 99;
        width: 100vw;
        top: 3.25rem
    }
}

#search-bar-popup > .columns:nth-child(even) {
    background-color: hsl(0, 0%, 96%);
    border-top: 2px solid hsl(0, 0%, 90%);
}
