.is-fullwidth {
    width: 100%;
}

.is-width-90 {
    width: 90%;
}

.is-width-80 {
    width: 80%;
}

.is-width-70 {
    width: 70%;
}

.is-width-60 {
    width: 60%;
}

.is-width-50 {
    width: 50%;
}

.is-width-40 {
    width: 40%;
}

.is-width-30 {
    width: 30%;
}

.is-width-20 {
    width: 20%;
}

.is-width-10 {
    width: 10%;
}

.caret {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
}

.pending-controls span.tag {
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
}

.pending-entry.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}