{{define "admin-navbar"}}
<nav class="navbar is-fixed-bottom is-dark" role="navigation" hx-boost="true" hx-push-url="true" hx-target="#content">
    <div class="navbar-brand">
        <a class="navbar-item" href="/admin">
            <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="admin-navbar" onclick="this.classList.toggle('is-active'); document.getElementById(this.dataset.target).classList.toggle('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="admin-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/admin">Home</a>
            {{if .User.UserPermissions.Has "news"}}<a class="navbar-item" href="/admin/news">News</a>{{end}}
            {{if .User.UserPermissions.Has "pending_view"}}<a class="navbar-item" href="/admin/pending">Pending</a>{{end}}
            {{if .User.UserPermissions.Has "database_view"}}<a class="navbar-item" href="/admin/database">Song Database</a>{{end}}
            {{if .User.UserPermissions.Has "admin"}}<a class="navbar-item" href="/admin/users">Users</a>{{end}}
            <a class="navbar-item" href="/admin/profile">Profile</a>
        </div>
    </div>
</nav>
{{end}}