{{define "form_admin_pending"}}
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column field is-horizontal">
                    <div class="field-label">
                        <label class="label">Artist</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="column field is-horizontal">
                    <div class="field-label">
                        <label class="label">Title</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="text">
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column field is-horizontal">
                    <div class="field-label">
                        <label class="label">Album</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="column field is-horizontal">
                    <div class="field-label">
                        <label class="label">Tags</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="text">
                    </div>
                </div>
            </div>
        </div>     
        <div class="column pending-controls">
            <div class="columns">
                <div class="column">
                    <span class="tag">127.0.0.1</span>
                </div>
                <div class="column">
                    <span class="tag is-info">04m05s, 31.83MB</span>
                </div>
                <div class="column">
                    <button class="button is-warning">Replace</button>
                </div>
                <div class="column">
                    <button class="button is-success">Accept</button>
                </div>
                <div class="column">
                    <input class="checkbox" type="checkbox">Good?</input>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <span class="tag">1086kbps vbr</span>
                </div>
                <div class="column">
                    <span class="tag is-warning">05 Filename.flac</span>
                </div>
                <div class="column">
                    <input class="input" type="text">Rep. ID</input>
                </div>
                <div class="column">
                    <button class="button is-danger">Decline</button>
                </div>
                <div class="column">
                    <input class="input" type="text">Reason</input>
                </div>
            </div>
        </div>
    </div>
    <p>Curabitur accumsan turpis pharetra augue tincidunt blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
</div>
{{end}}