{{define "form_admin_pending"}}
<div class="pending-entry notification">
    <form class="{{if len .Errors}}is-warning {{end}}" method="post" hx-post="/admin/pending" hx-swap="outerHTML swap:1s">
        <input class="is-hidden" type="number" name="id" value="{{.ID}}">
        <div class="columns is-desktop pending-controls">
            <div class="column py-1">
                <span class="tag is-dark is-fullwidth py-1">{{.UserIdentifier}}</span>
            </div>
            <div class="column py-1">
                <span class="tag is-info is-fullwidth py-1">{{HumanDuration .Length}}, 31.83MB, {{Div .Bitrate 1000}}kbps vbr</span>
            </div>
            <div class="column py-1">
                <a class="tag is-warning is-fullwidth py-1" href="/admin/pending-song/{{.ID}}">{{.Filename}}</a>
            </div>
        </div>
        <div class="columns is-gapless">
            <div class="column is-6">
                <div class="column field is-horizontal">
                    <div class="field-label is-flex-grow-0">
                        <label class="label mt-2">Artist</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="artist" type="text" value="{{.Artist}}">
                    </div>
                </div>
                <div class="column field is-horizontal">
                    <div class="field-label is-flex-grow-0">
                        <label class="label mt-2">Title</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="title" type="text" value="{{.Title}}">
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="column field is-horizontal">
                    <div class="field-label is-flex-grow-0">
                        <label class="label mt-2">Album</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="album" type="text" value="{{.Album}}">
                    </div>
                </div>
                <div class="column field is-horizontal">
                    <div class="field-label is-flex-grow-0">
                        <label class="label mt-2">Tags</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="tags" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="label column is-narrow">Comment:</div>
            <div class="column">{{.Comment}}</div>
        </div>
        <div class="columns is-desktop">
            <div class="column">
                <div class="field is-grouped is-grouped-multiline is-grouped-right">
                    <div class="control">
                        <div class="field">
                            <button class="button is-success" type="submit" name="action" value="accept">Accept</button>
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <div class="field has-addons is-justify-content-end">
                            <div class="control is-flex is-flex-grow-1">
                                <input class="input" name="reason" type="text" placeholder="Reason"></textarea>
                            </div>
                            <div class="control">
                                <button class="button is-danger" type="submit" name="action" value="decline">Decline</button>
                            </div>
                        </div>
                    </div>
                    <div class="control mr-3" style="max-width: 160px;">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" name="replacement" {{with .ReplacementID}}value="{{.}}"{{end}} placeholder="Rep. ID">
                            </div>
                            <div class="control">
                                <button class="button is-warning" type="submit" name="action" value="replace">Replace</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <audio class="is-fullwidth mt-2" controls preload="none" src="/admin/pending-song/{{.ID}}"></audio>
</div>
{{end}}