{{define "form_admin_profile"}}
<form method="post" enctype="multipart/form-data">
{{if .Form.Error}}
    <div class="notification is-warning">
        {{.Form.Error.Error}}
    </div>
{{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="field-label" for="username">Username:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
{{if .IsNew}}
            <input class="input" type="text" name="Username" placeholder="username" required>
{{else}}
            <input class="input"  type="text" name="Username" value={{.Form.Username}} required disabled>
            <input type="hidden" name="Username" value={{.Form.Username}}>
{{end}}
        </div></div></div>
    </div>
{{if or (not .IsAdmin) (.IsNew)}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">{{if .IsNew}}New{{else}}Change{{end}} password:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="Change.Password" placeholder="{{if not .IsNew}}current {{end}}password">
        </div></div></div>
    </div>
{{end}}
{{if not .IsNew}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">{{if not (or (not .IsAdmin) (.IsNew))}}Change password:{{end}}</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="Change.NewPassword" placeholder="new password">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label"></label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="Change.RepeatedPassword" placeholder="repeated password">
        </div></div></div>
    </div>
{{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Permissions:</label>
        </div>
        <div class="field-body"><div class="field">
            <ul class="control" id="permissions">
    {{range $perm, $checked := .Form.UserPermissions}}
                <li>
                    <input class="checkbox" id="perm-{{$perm}}"
                        autocomplete="off"
                        type="checkbox"
                        name="Permissions"
                        value="{{$perm}}" 
        {{if $checked}}checked{{end}}
        {{if not $.IsAdmin}}disabled{{end}}>
                    <label class="checkbox" for="perm-{{$perm}}">{{$perm}}</label>
                </li>
    {{end}}
            </ul>
        </div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="ip-address">IP Address:</label>
        </div>
        <div class="field-body"><div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" name="IP" value="{{.Form.IP}}">
            </div>
            <div class="control is-static">
                <button class="button" type="button" onclick="document.querySelector('input[name=IP]').value = '{{.CurrentIP}}'">(You)</button>
            </div>
        </div></div>
    </div>
{{if or (ne .Form.DJ.ID 0) (.IsNewProfile)}}
    <div></div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="visible">Visible?</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="checkbox" autocomplete="off" type="checkbox" name="DJ.Visible" {{if .Form.DJ.Visible}}checked{{end}}>
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="priority">Priority:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="number" name="DJ.Priority" value={{.Form.DJ.Priority}}>
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj-name">DJ name:</label>
        </div>
        <div class="field-body">
        <div class="field"><div class="control">
            <input class="input" type="text" name="DJ.Name" value="{{.Form.DJ.Name}}">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj-image">DJ Image:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="file" name="DJ.Image">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Current image:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <img src="/api/dj-image/{{.Form.DJ.Image}}" alt="current DJ image">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="regex">Nickname Regex:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="text" name="DJ.Regex" value="{{.Form.DJ.Regex}}">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="theme">Theme:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <div class="select">
                <select name="DJ.Theme.Name" value="{{.Form.DJ.Theme.Name}}">
                    <option value="default">Default</option>
                </select>
            </div>
        </div></div></div>
    </div>
    {{end}}
    {{if and (and .IsAdmin (eq .Form.DJ.ID 0)) (and (not .IsNew) (not .IsNewProfile))}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label></label>
        </div>
        <div class="field-body"><div class="field">
            <button class="button" type="button" onclick="window.location.search += '&newprofile';">Add DJ profile</button>
        </div></div>
    </div>
    {{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label></label>
        </div>
        <div class="field-body"><div class="field">
            <button class="button" type="submit">{{if .IsNew}}Create Account{{else}}Submit Changes{{end}}</button>
        </div></div>
    </div>
</form>
{{end}}