{{define "form_admin_songs"}}
<div class="songs-entry notification {{if .Song.NeedReplacement}}is-warning{{end}}">
    <form method="post" hx-post="/admin/songs" hx-swap="outerHTML swap:1s">
        <input class="is-hidden" type="number" name="id" value="{{.Song.TrackID}}">
        <div class="columns is-gapless">
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Artist</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="artist" type="text" value="{{.Song.Artist}}" {{if not .HasEdit}}disabled{{end}}>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Title</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="title" type="text" value="{{.Song.Title}}" {{if not .HasEdit}}disabled{{end}}>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Album</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="album" type="text" value="{{.Song.Album}}" {{if not .HasEdit}}disabled{{end}}>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Tags</label>
                    </div>
                    <div class="field-body">
                        <input class="input" name="tags" type="text" value="{{.Song.Tags}}" {{if not .HasEdit}}disabled{{end}}>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-desktop is-variable is-1">
            <div class="column is-narrow">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">ID:</label>
                    </div>
                    <div class="field-body">
                        <span class="mt-2">{{.Song.TrackID}}</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Acceptor</label>
                    </div>
                    <div class="field-body">
                        <span class="mt-2">{{.Song.Acceptor}} ({{.Song.LastEditor}})</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">LP/LR</label>
                    </div>
                    <div class="field-body">
                        <span class="mt-2">{{.Song.LastPlayed | Since}} / {{.Song.LastRequested | Since}}</span>
                    </div>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label mt-2">Priority</label>
                    </div>
                    <div class="field-body">
                        <span class="mt-2">{{.Song.Priority}} ({{.Song.RequestCount}})</span>
                    </div>
                </div>
            </div>
            <div class="column is-flex is-justify-content-end">
                <div class="buttons">
                    <button class="button is-success">Download</button>
                    <button class="button is-info">Play</button>
                    {{if .HasEdit}}
                        <button class="button" type="submit" name="action" value="save">Save</button>
                        {{if .Song.NeedReplacement}}
                            <button class="button is-white" type="submit" name="action" value="replacement">Unmark Repl</button>
                        {{else}}
                            <button class="button is-warning" type="submit" name="action" value="replacement">Mark Repl</button>
                        {{end}}
                    {{end}}
                    {{if .HasDelete}}<button class="button is-danger" type="submit" name="action" value="delete">Delete</button>{{end}}
                </div>
            </div>
        </div>
    </form>
</div>
{{end}}