{{define "head"}}
<meta charset="utf-8">
<title>{{template "title"}}</title>
<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
<link rel="icon" href="/assets/images/logo_image_small.png" type="image/png">
<link rel="stylesheet" href="/assets/css/bulma.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<script src="/assets/js/htmx.min.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script src="/assets/js/radio.js"></script>
{{template "styles"}}
{{end}}
{{define "title"}}R/a/dio{{end}}
{{define "styles"}}{{end}}