{{define "public-navbar"}}
<nav class="navbar is-dark" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="public-navbar" onclick="this.classList.toggle('is-active'); document.getElementById(this.dataset.target).classList.toggle('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="public-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" hx-get="/news" hx-target="#content" href="/news">News</a>
            <a class="navbar-item" hx-get="/irc" hx-target="#content" href="/irc">Chat</a>
            <a class="navbar-item" hx-get="/search" hx-target="#content" href="/search">Search</a>
            <a class="navbar-item" hx-get="/schedule" hx-target="#content" href="/schedule">Schedule</a>
            <a class="navbar-item" hx-get="/last-played" hx-target="#content" href="/last-played">Play History</a>
            <a class="navbar-item" hx-get="/queue" hx-target="#content" href="/queue">Queue</a>
            <a class="navbar-item" hx-get="/favorites" hx-target="#content" href="/favorites">Favorites</a>
            <a class="navbar-item" hx-get="/staff" hx-target="#content" href="/staff">Staff</a>
            <a class="navbar-item" hx-get="/submit" hx-target="#content" href="/submit">Submit</a>
        </div>
        <div class="navbar-end is-flex-grow-1 mr-3">
            <form class="is-flex is-width-90 my-auto" method="POST" action="/search" accept-charset="UTF-8">
                <div class="field is-flex is-fullwidth"><div class="control is-flex is-fullwidth">
                    <input class="input" type="text" name="q" placeholder="Request Song" role="search">
                </div></div>
            </form>
        </div>
    </div>
</nav>
{{if .IsUser}}{{template "admin-navbar" .}}{{end}}
{{end}}
{{define "navbar"}}{{template "public-navbar" .}}{{end}}