{{define "navbar"}}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/last-played">Last Played</a></li>
        <li><a href="/queue">Queue</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/submit">Submit</a></li>
    </ul>
</nav>
{{end}}