{{define "pagination"}}
{{if gt .Total 1}}
<div class="columns">
    <nav class="column pagination is-left is-flex mb-0" hx-boost="true" hx-push-url="true" hx-target="#content" role="navigation">
        {{with .Prev 1}}
        <a class="pagination-previous" href="{{.URL}}">Previous</a>
        {{else}}
        <a class="pagination-previous is-disabled disable-pointer">Previous</a>
        {{end}}
        {{with .Next 1}}
        <a class="pagination-next" href="{{.URL}}">Next</a>
        {{else}}
        <a class="pagination-next is-disabled disable-pointer">Next</a>
        {{end}}
        <ul class="pagination-list m-0 p-0">
            {{with $prev2 := .Prev 2}}
                {{if gt .Nr 1}}
                    {{with .First}}
                    {{template "page-link" .}}
                    {{if gt $prev2.Nr 2}}
                    <li class="m-0"><span class="pagination-ellipsis">&hellip;</span></li>
                    {{end}}
                    {{end}}
                {{end}}
                {{template "page-link" .}}
            {{end}}
            {{with .Prev 1}}{{template "page-link" .}}{{end}}
            {{with .}}<li class="m-0"><a class="pagination-link is-current" href="{{.URL}}">{{.Nr}}</a></li>{{end}}
            {{with .Next 1}}{{template "page-link" .}}{{end}}
            {{with $next2 := .Next 2}}
                {{template "page-link" .}}
                {{if lt .Nr .Total}}
                    {{with .Last}}
                    {{if lt $next2.Nr (Sub .Total 1)}}
                    <li class="m-0"><span class="pagination-ellipsis">&hellip;</span></li>
                    {{end}}
                    {{template "page-link" .}}
                    {{end}}
                {{end}}
            {{end}}
        </ul>
    </nav>
    <form action="{{.BaseURL}}" class="column control is-2 is-flex is-hidden-mobile" hx-boost="true" hx-push-url="true" hx-target="#content">
        <input class="input" type="text" id="page" name="page" placeholder="Enter Page Number">
        <input class="is-hidden" type="submit">
    </form>
</div>
{{end}}
{{end}}
{{define "page-link"}}
<li class="m-0">
    <a class="pagination-link" href="{{.URL}}">{{.Nr}}</a>
</li>
{{end}}