{{define "full-page"}}
<!DOCTYPE html>
<head>
    {{ template "head" . }}
    {{ template "scripts" . }}
</head>
<body style="padding-bottom: 60px;">
    {{with .StreamURL}}
    <div class="is-hidden">
        <audio id="stream-audio" preload="none">
            <source src="{{.}}" type="audio/mpeg" />
        </audio>
    </div>
    {{end}}
    {{ template "partial-page" . }}
</body>
</html>
{{end}}
{{define "partial-page"}}
    <div id="content" hx-history-elt>
        {{ template "navbar" . }}
        {{ template "content" . }}
    </div>
{{end}}
{{ define "navbar" }}{{ end }}
{{ define "scripts" }}{{ end }}