{{define "full-page"}}
<html>
<head>
    {{ template "head" . }}
    {{ template "scripts" . }}
</head>
<body>
    {{ template "partial-page" . }}
</body>
</html>
{{end}}
{{define "partial-page"}}
    {{ template "navbar" . }}
    {{ template "content" . }}
{{end}}
{{ define "navbar" }}{{ end }}
{{ define "scripts" }}{{ end }}